html, body {
	margin: 0;
}
table {
	margin-left: 10px;
	margin-top: 10px;
}
.caption {
	text-align: center;
}
#opt1 {
	display: none;
}
input {
	width: 150px;
	height: 25px;
}
select {
	width: 155px;
}
td {
	text-align: center;
}
